body{
    background: #0239;

}

.timeline-area{
    margin: 40px auto;
    width: 500px;
    border-left: 2px solid #ccc;
    padding: 0 20px 0 30px;
}

div{
    background-color:#fff;
    padding: 10px 25px;
    border: 1px solid #ccc;
    line-height: 1.7;
    position: relative;
    height: 360px;
    width: 500px;
    margin-bottom: 20px;
}

div:before{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #000;
    border: 3px solid #ddd;
    position: absolute;
    top: 10px;
    left: -43px;
}

div:after{
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent #ddd transparent transparent;
    border-width: 8px;
    position: absolute;
    left: -17px;
    top: 10px;
}


